<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href=""onclick="return false" (click)=home()>Home</a></li>
                    <li  class="active"><a href=""onclick="return false" (click)=singleProduct()>Single product</a></li>
                    <li><a href=""onclick="return false" (click)=goToCart()>Cart</a></li>
                    <li><a href=""onclick="return false" (click)=checkOut()>Checkout</a></li>
                    <li><a href=""onclick="return false" (click)=signup()>Sign Up</a></li>
                    <li><a href=""onclick="return false" (click)=login()>Log In</a></li>
                </ul>
                
            </div>  
            
        </div>
    </div>
</div> <!-- End mainmenu area -->
<div class="singleProduct">

    <div class="productImage">

        <img src="http://geebly.ahmedkhattab.com/uploads/images/products/{{dataOfProduct.image}}" alt="" class="product-img">

    </div>

    <div class="productData">

       <h4>{{dataOfProduct.title}}</h4>
       <p>product id: {{dataOfProduct.id}}</p>
       <p>Price: {{dataOfProduct.price}} EGP</p> 
        
    </div>

    <div class="button">
        <button type="submit" [disabled]="isInvalid()" (click)='addToCart(dataOfProduct.price); goToCart()' >Add to cart</button>
    </div>
</div>
   
