.our-products {
    text-align: center;
    color: rgb(2, 44, 80);
}

.latest-product {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.product-img {
    height: 300px;
    width: 200px;
}

h2 {
    margin-top: 50px;
}